---
layout: default
---

 <main class="container page page--general">

  {%- if page.title or page.subtitle -%}
    <div class="page__headings">
    
      {%- if page.title -%}
        <h1 class="page__title page__title--{{ page.id }}">
          {{- page.title | upcase -}}
        </h1>  
      {%- endif -%}

      {%- if page.subtitle -%}
      <h2 class="page__subtitle">
        {{- page.subtitle | upcase -}}
      </h2>
    {%- endif -%}

    {%- if page.desc -%}
      <h3 class="page__desc">
        {{- page.desc -}}
      </h3>
    {%- endif -%}

    </div>
  {%- endif -%}

  <section class="page__content contact-page">

    <div class="page__section">
      {%- include partials/contact-form.html from_page = 'Contact Page' return_to = page.url -%}
    </div>

    <div class="page__section contact-page__content cols cols-{{ page.info.items_per_row }}">
      {%- for col in page.info.columns -%}
        <div class="col col-of-{{ page.info.items_per_row }} col-{{ forloop.index }}-of-{{ page.info.items_per_row }}">
          {{ col | markdownify }}
        </div>
      {%- endfor -%}
    </div>

  </section>

  {%- if page.links -%}
    <div class="centered container tours-page__suggestions">
        {%- for data_link in site.data.tour_types -%}
            <div class="tours-page__suggestion">

            {%- for page_link in page.links -%}
              {%- if data_link.id == page_link -%}
                <a class="private-tours-suggestions__link private-tours-suggestions__link--tours-page {{ data_link.classes }}" href="{{- data_link.url -}}">
                  {{- data_link.text -}}
                </a>
              {%- endif -%}
            {%- endfor -%}
                
            </div>
        {%- endfor -%}
    </div>
  {%- endif -%}

  
</main>

{%- include privacy-policy.html -%}

{% include es/home/sites.html %}

{%- include home/not-finding.html -%}
