<div class="rhodes-sites__content container">
    <div class="rhodes-sites__items">
        {% for item in site.data.es.sites.items %}
            <div class="rhodes-sites__item">
                <h2 class="rhodes-sites__item-title">
                    {{- item.title -}}
                </h2>
                <ul class="rhodes-sites__item-links">
                    {% for link in item.links %}
                        <li {% if link.classes %}class="{{ link.classes }}"{% endif %}>
                            <a class="rhodes-sites__item-link{% if link.id == page.id %} rhodes-sites__item-link--active{% endif %}" href="{{- link.url -}}">
                                {{- link.name -}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>  
        {% endfor %}
    </div>
    <div class="rhodes-sites__beaches destinations__beaches">
        <div class="rhodes-sites__item-title-wrapper rhodes-sites__item-title-wrapper--beach">
            <h2 class="rhodes-sites__item-title rhodes-sites__item-title--beach">
                {{- site.data.es.sites.beaches.title -}}
            </h2>
        </div>
        <div class="rhodes-sites__item-subtitle-wrapper rhodes-sites__item-subtitle-wrapper--beach">                
            <a class="rhodes-sites__item-subtitle rhodes-sites__item-subtitle--beach{% if site.data.es.sites.beaches.subtitle.id == page.id %} rhodes-sites__item-link--active{% endif %}" href="{{- site.data.es.sites.beaches.subtitle.link -}}">
                {{- site.data.es.sites.beaches.subtitle.text -}}
            </a>
        </div>
        <div class="rhodes-sites__items">
            {%- for beach in site.data.es.sites.beaches.items -%}
                <div class="rhodes-sites__item rhodes-sites__item--beach">
                    <a class="rhodes-sites__item-link rhodes-sites__item-link--beach{% if beach.id == page.id %} rhodes-sites__item-link--active{% endif %}" href="{{- beach.url -}}">
                        {{- beach.name -}}
                    </a>
                </div>
            {%- endfor -%}
        </div>
    </div>
</div>