---
layout: plain-page
---

<main class="page reviews-comments">

  <div class="container page__headings reviews-comments__headings">

    <span class="anchor-section" id="reviews-top"></span>
    <h1 class="page__title page__title--plain-page page__title--reviews_comments_page">
      {{- page.title | upcase -}}
    </h1>

    {%- if page.subtitle -%}
      <p class="page__subtitle page__subtitle--plain-page page__subtitle--reviews_comments_page">
        {{- page.subtitle -}}
      </p>
    {%- endif -%}

  </div>

  {%- comment -%} <section class="container page__content page__content--plain-page page__content--header">
    {{ content }}
  </section> {%- endcomment -%}

  {%- if page.subtitle2.size > 0 -%}
    <p class="container page__subtitle page__subtitle--plain-page page__subtitle--reviews_comments_page centered mt-2 mb-2">
      {{- page.subtitle2 -}}
    </p>
  {%- endif -%}

  <div class="separator separator--home"></div>

  <section class="container page__content reviews-comments__carousel">
    {%- for i in (1..19) -%}
      {%- if i != 15 and i != 19 -%}
        <div class="reviews-comments__carousel-item hidden">
          <img src="./img/pages/reviews/A{{ i }}.jpg" alt="">
        </div>
      {%- endif -%}
    {%- endfor -%}
  </section>

  <section class="container page__content">
    <ul class="reviews-comments__years-list">
        {%- for review in site.reviews reversed -%}
          {%- if review.content and review.content.size > 1 -%}
            <li class="reviews-comments__years-list-item">
              <a href="#{{- review.year -}}" class="reviews-comments__years-list-link">
                {{- review.year -}}
              </a>
            </li>
          {%- endif -%}
        {%- endfor -%}
    </ul>
  </section>

  <section class="container page__content page__content--plain-page">
    {%- for review in site.reviews reversed -%}
      {%- if review.content and review.content.size > 1 -%}
        <span class="anchor-section" id="{{- review.year -}}"></span>
        <h3>
          REVIEWS - TESTIMONIALS {{ review.year }}
        </h3>
        <div class="reviews-comments__content">
          {{ review.content | markdownify }}
        </div>
        <div class="reviews-comments__go-to-top">
          <a href="#reviews-top" class="reviews-comments__go-to-top-link">
            &uarr; Back to the top &uarr;
          </a>
        </div>
      {%- endif -%}
    {%- endfor -%}
  </section>

</main>
