<footer class="site-footer">

    <div class="site-footer__items-wrapper">

        <div class="site-footer__info-row">

            <div class="site-footer__info-col">
                <p class="just-text">
                    {%- include helpers/check_empty_string.html the_string = page.end_page.long_text -%}
                    {%- if page.end_page.long_text and string_not_empty == true -%}
                        {{ page.end_page.long_text | markdownify | remove: '<p>' | remove: '</p>' }}
                    {%- else -%}
                        {{ site.data.defaults.end_page.long_text | markdownify | remove: '<p>' | remove: '</p>' }}
                    {%- endif -%}
                </p>
                <p class="just-text nowrap">
                    EOT (GNTO) N. 1476E6000010971
                </p>
                <p class="just-text">
                    ΓΕΜΗ (G.C.R) N. 000146680620000
                </p>
            </div>

            <div class="site-footer__info-col site-footer__info-col--middle">
                <div class="site-footer__info-col__middle-wrapper">
                    <p>
                        <a href="./rick_steves.htm" class="site-footer__info-link">
                            Recommended By Rick Steves EUROPE
                        </a>
                    </p>
                    <p>
                        <a href="./book.htm" class="site-footer__info-link">
                            Top 10 Reasons to Book with Us
                        </a>
                    </p>
                    <p>
                        <a href="./greece_travel_guide.htm" class="site-footer__info-link">
                            Recommended by Greece Travel Guide
                        </a>
                    </p>
                    <p>
                        <a href="./more_than_thirty_years_experience.htm" class="site-footer__info-link">
                            More than 30 Years of Experience
                        </a>
                    </p>
                    <p>
                        <a href="./faq.htm" class="site-footer__info-link">
                            Tours Frequently Asked Questions
                        </a>
                    </p>
                    <p>
                        <a href="./testimonials.htm" class="site-footer__info-link">
                            Verified Reviews and Comments
                        </a>
                    </p>
                    <p>
                        <a href="./mediterranean-ports-shore-excursions.htm" class="site-footer__info-link">
                            Mediterranean Ports Shore Excursions
                        </a>
                    </p>
                </div>
            </div>

            <div class="site-footer__info-col">
                <p>
                    Address: Rhodes Island 85100 Greece
                </p>
                <p>
                    From USA + Canada: <a class="mobile-only mobile-only--inline" href="tel:01130-6934596990">01130 - 6934596990</a><span class="desktop-only desktop-only--inline">01130 - 6934596990</span>
                </p>
                <p>
                    From Australia: <a class="mobile-only mobile-only--inline" href="tel:001130-6934596990">001130 - 6934596990</a><span class="desktop-only desktop-only--inline">001130 - 6934596990</span>
                </p>
                <p>
                    From EU: <a class="mobile-only mobile-only--inline" href="tel:0030-6934596990">0030 - 6934596990</a><span class="desktop-only desktop-only--inline">0030 - 6934596990</span>
                </p>
                <p>
                    Within Greece: <a class="mobile-only mobile-only--inline" href="tel:6934596990">6934596990</a><span class="desktop-only desktop-only--inline">6934596990</span>
                </p>

                <div class="koinonika">
                    {%- comment -%} <h3 class="site-footer__info-title site-footer__info-title--follow-us">
                        <a href="mail:torequest@RhodesPrivateTours.com">request@RhodesPrivateTours.com</a>
                    </h3> {%- endcomment -%}
                    <div class="koinonika__icons">
                        <a class="koinonika__link koinonika__link--fatsobiblio" href="./facebook_day_tours.htm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="24"><path d="M8.25 4.5H12V0H8.25A5.256 5.256 0 003 5.25V7.5H0V12h3v12h4.5V12h3.75L12 7.5H7.5V5.25a.76.76 0 01.75-.75z"/></svg>
                        </a>
                        <a class="koinonika__link koinonika__link--titivisma" href="./facebook_day_tours.htm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18"><path d="M22 2.129a8.846 8.846 0 01-2.59.714A4.564 4.564 0 0021.393.329c-.873.519-1.839.9-2.866 1.103A4.498 4.498 0 0015.233 0c-2.492 0-4.511 2.034-4.511 4.543 0 .355.038.701.116 1.035-3.75-.19-7.076-2-9.301-4.75a4.566 4.566 0 00-.61 2.284c0 1.575.795 2.968 2.007 3.782a4.488 4.488 0 01-2.045-.567v.056a4.537 4.537 0 003.622 4.456 4.489 4.489 0 01-2.04.078c.575 1.804 2.242 3.119 4.214 3.158A9.012 9.012 0 010 15.958 12.697 12.697 0 006.921 18c8.3 0 12.84-6.927 12.84-12.933 0-.198-.003-.393-.012-.588A9.12 9.12 0 0022 2.13z"/></svg>
                        </a>
                        <a class="koinonika__link koinonika__link--sindesi_mesa" href="./facebook_day_tours.htm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18"><path d="M6.786 5.538h3.756v1.965h.053c.523-.957 1.802-1.965 3.708-1.965 3.964 0 4.697 2.518 4.697 5.793V18h-3.915v-5.912c0-1.41-.028-3.224-2.036-3.224-2.04 0-2.35 1.535-2.35 3.121V18H6.786zM0 5.538h4.071V18H0zM4.071 2.077c0 1.147-.91 2.077-2.035 2.077S0 3.224 0 2.077C0 .93.911 0 2.036 0 3.16 0 4.07.93 4.07 2.077z"/></svg>
                        </a>
                        <a class="koinonika__link koinonika__link--karfitsoste" href="./facebook_day_tours.htm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 0C5.381 0 0 5.381 0 12s5.381 12 12 12 12-5.381 12-12S18.619 0 12 0zm0 22.397c-1.073 0-2.104-.164-3.08-.464.423-.69 1.06-1.823 1.294-2.723l.647-2.47c.338.646 1.332 1.195 2.382 1.195 3.135 0 5.395-2.883 5.395-6.469 0-3.436-2.803-6.005-6.408-6.005-4.486 0-6.867 3.015-6.867 6.29 0 1.524.811 3.423 2.11 4.027.196.094.3.052.347-.14.033-.146.211-.849.29-1.182a.32.32 0 00-.07-.3c-.431-.52-.773-1.481-.773-2.371C7.267 9.493 9 7.27 11.959 7.27c2.554 0 4.34 1.74 4.34 4.228 0 2.813-1.42 4.763-3.266 4.763-1.022 0-1.786-.844-1.538-1.88.296-1.237.863-2.569.863-3.46 0-.797-.427-1.462-1.317-1.462-1.046 0-1.88 1.078-1.88 2.527 0 .918.31 1.542.31 1.542s-1.032 4.354-1.22 5.165c-.21.9-.126 2.16-.037 2.981-3.867-1.509-6.61-5.269-6.61-9.675 0-5.742 4.655-10.397 10.397-10.397s10.397 4.654 10.397 10.397c0 5.742-4.654 10.397-10.397 10.397z"/></svg>
                        </a>
                    </div>
                </div>

        </div>

        </div>

        <div class="site-footer__logo">
            <img class="site-footer__logo-image" src="./img/rhodes_private_tours_logo-small-white.png" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
        </div>

        {%- if page.has_emergency == true -%}
            <div class="container">
                <a href="./covid-19-rhodes-greece.htm" class="emergency">
                    <h3 class="emergency__title">
                        COVID-19 RHODES ISLAND GREECE
                    </h3>
                    <p class="small-tablet-only small-tablet-only--block emergency__cta">
                        Read Details
                    </p>
                </a>
            </div>
        {%- endif -%}

        <p class="site-footer__copyright">
            {%- include helpers/check_empty_string.html the_string = page.end_page.short_text -%}
            {%- if page.end_page.short_text and string_not_empty == true -%}
                @1998 - {{ site.time | date: '%Y' }} RhodesPrivateTours.com | {{ page.end_page.short_text }}
            {%- else -%}
                @1998 - {{ site.time | date: '%Y' }} RhodesPrivateTours.com | {{ site.data.defaults.end_page.short_text }}
            {%- endif -%}
        </p>

    </div>

</footer>