<footer class="site-footer">

    <div class="site-footer__items-wrapper">

        <div class="site-footer__info-row">

            <div class="site-footer__info-col">
                <p class="just-text">
                    {%- include helpers/check_empty_string.html the_string = page.end_page.long_text -%}
                    {%- if page.end_page.long_text and string_not_empty == true -%}
                        {{ page.end_page.long_text | markdownify | remove: '<p>' | remove: '</p>' }}
                    {%- else -%}
                        {{ site.data.defaults.end_page.long_text | markdownify | remove: '<p>' | remove: '</p>' }}
                    {%- endif -%}
                </p>
                <p class="just-text nowrap">
                    EOT (GNTO) N. 1476E6000010971 
                </p>
                <p class="just-text">
                    ΓΕΜΗ (G.C.R) N. 000146680620000
                </p>
            </div>

            <div class="site-footer__info-col site-footer__info-col--middle">
                <div class="site-footer__info-col__middle-wrapper">
                    <p>
                        <a href="./rick_steves.htm" class="site-footer__info-link">
                            Recommended By Rick Steves EUROPE
                        </a>
                    </p>
                    <p>
                        <a href="./book.htm" class="site-footer__info-link">
                            Top 10 Reasons to Book with Us
                        </a>
                    </p>
                    <p>
                        <a href="./greece_travel_guide.htm" class="site-footer__info-link">
                            Recommended by Greece Travel Guide
                        </a>
                    </p>
                    <p>
                        <a href="./more_than_thirty_years_experience.htm" class="site-footer__info-link">
                            More than 30 Years of Experience
                        </a>
                    </p>
                    <p>
                        <a href="./faq.htm" class="site-footer__info-link">
                            Tours Frequently Asked Questions                         
                        </a>
                    </p>
                    <p>
                        <a href="./testimonials.htm" class="site-footer__info-link">
                            Verified Reviews and Comments
                        </a>
                    </p>
                    <p>
                        <a href="./mediterranean-ports-shore-excursions.htm" class="site-footer__info-link">
                            Mediterranean Ports Shore Excursions
                        </a>
                    </p>
                </div>
            </div>

            <div class="site-footer__info-col">
                <p>
                    Address: Rhodes Island 85100 Greece
                </p>
                <p>
                    From USA + Canada: <a class="mobile-only mobile-only--inline" href="tel:01130-6934596990">01130 - 6934596990</a><span class="desktop-only desktop-only--inline">01130 - 6934596990</span>
                </p>
                <p>
                    From Australia: <a class="mobile-only mobile-only--inline" href="tel:001130-6934596990">001130 - 6934596990</a><span class="desktop-only desktop-only--inline">001130 - 6934596990</span>
                </p>
                <p>
                    From EU: <a class="mobile-only mobile-only--inline" href="tel:0030-6934596990">0030 - 6934596990</a><span class="desktop-only desktop-only--inline">0030 - 6934596990</span>
                </p>
                <p>
                    Within Greece: <a class="mobile-only mobile-only--inline" href="tel:6934596990">6934596990</a><span class="desktop-only desktop-only--inline">6934596990</span>
                </p>                    

                <div class="koinonika">
                    {%- comment -%} <h3 class="site-footer__info-title site-footer__info-title--follow-us">
                        <a href="mail:torequest@RhodesPrivateTours.com">request@RhodesPrivateTours.com</a>
                    </h3> {%- endcomment -%}
                    <div class="koinonika__icons">
                        <a class="koinonika__link koinonika__link--fatsobiblio" href="./facebook_day_tours.htm">
                            <i title="Rhodes Day Tours Greece" class="koinonika__eikonidio icon-fatsobiblio"></i>
                        </a>
                        <a class="koinonika__link koinonika__link--titivisma" href="./facebook_day_tours.htm">
                            <i title="Rhodes Day Tours Greece" class="koinonika__eikonidio icon-titivisma"></i>
                        </a>
                        <a class="koinonika__link koinonika__link--sindesi_mesa" href="./facebook_day_tours.htm">
                            <i title="Rhodes Day Tours Greece" class="koinonika__eikonidio icon-sindesi_mesa"></i>
                        </a>
                        <a class="koinonika__link koinonika__link--karfitsoste" href="./facebook_day_tours.htm">
                            <i title="Rhodes Day Tours Greece" class="koinonika__eikonidio icon-karfitsoste"></i>
                        </a>                        
                    </div>
                </div>                    

        </div>

        </div>

        <div class="site-footer__logo">
            <img class="site-footer__logo-image" src="./img/rhodes_private_tours_logo-small-white.png" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
        </div>

        {%- if page.has_emergency == true -%}
            <div class="container">
                <a href="./covid-19-rhodes-greece.htm" class="emergency">
                    <h3 class="emergency__title">
                        COVID-19&nbsp;&nbsp;RHODES GREECE - HEALTH AND SAFETY MEASURES
                    </h3>
                    <div class="emergency__content">
                        <p>
                            At “Rhodes Private Tours” we will always put health and safety first.
                        </p>
                        <p class="small-tablet-only small-tablet-only--block emergency__cta">
                            Read Details
                        </p>
                    </div>
                </a>
            </div>
        {%- endif -%}

        <p class="site-footer__copyright">
            {%- include helpers/check_empty_string.html the_string = page.end_page.short_text -%}
            {%- if page.end_page.short_text and string_not_empty == true -%}
                @1998 - {{ site.time | date: '%Y' }} RhodesPrivateTours.com | {{ page.end_page.short_text }}
            {%- else -%}
                @1998 - {{ site.time | date: '%Y' }} RhodesPrivateTours.com | {{ site.data.defaults.end_page.short_text }}
            {%- endif -%}
        </p>

    </div>

</footer>