<header class="site-header container">

  <section class="main-logo">
      <a href="{{- site.data.langs[page.lang].home_page.url -}}" class="main-logo__link">
          <img class="main-logo__img" src="./img/rhodes_private_tours_logo.jpg" alt="Rhodes Private Tours and Shore Excursions, Private Day Tours, Taxi Tours">
      </a>
  </section>

  <a href="{{- site.data.langs[page.lang].home_page.url -}}" class="site-logo site-header__item" title="Rhodes Private Tours and Shore Excursions">
      <!-- <span class='site-logo__item site-logo__item--title'>Rhodes Private Tours</span> -->
      {%- include helpers/check_empty_string.html the_string = page.start_page.title -%}
      <span class='site-logo__item site-logo__item--subtitle'>
        {%- if page.start_page.title and string_not_empty -%}
            {{- page.start_page.title -}}
        {%- else -%}
            {{- site.data.defaults[page.lang].start_page.title -}}
        {%- endif -%}
      </span>
      {%- include helpers/check_empty_string.html the_string = page.start_page.subtitle -%}
      <span class='site-logo__item site-logo__item--subtitle site-logo__item--subtitle-signleline'>
        {%- if page.start_page.subtitle and string_not_empty -%}
            {{- page.start_page.subtitle -}}
        {%- else -%}
            {{- site.data.defaults[page.lang].start_page.subtitle -}}
        {%- endif -%}
      </span>
  </a>

  {%- assign langs_counter = 0 -%}
  {%- include helpers/check_empty_string.html the_string = page.ref -%}
  {%- if page.ref and string_not_empty -%}  
    {%- for a_page in site.pages -%}
      {%- if page.ref == a_page.ref -%}
        {%- assign langs_counter = langs_counter | plus: 1 -%}
        {%- unless page.lang == a_page.lang -%}
          {%- assign other_lang_page_url = a_page.url -%}
          {%- if page.lang != 'en' and page.id == 'home' -%}
            {%- assign other_lang_page_url = '/' -%}
          {%- endif -%}
          {%- assign other_lang_page_lang = a_page.lang -%}
        {%- endunless -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  {%- if site.i18n == true -%}
    <div class="langs site-header__item">

      <div class="langs__item langs__item--active" id="langs__item--active">
          {{ page.lang | upcase }} <i class="fas fa-angle-down langs__item--active-icon" id="langs__item--active-icon"></i>
      </div>

      <div class="langs__inactives" id="langs__inactives">
        <span class="langs__item langs__item--inactive">
          {%- if langs_counter > 0 -%}
              <a class="langs__link" href="{{- other_lang_page_url -}}">
                {{ other_lang_page_lang | upcase }}
              </a>
            {%- else -%}
              {%- if page.lang == 'en' -%}
                <a class="langs__link" href="./espaniol_excursiones_privadas.htm">
                  ES
                </a>
              {%- elsif page.lang == 'es' -%}
                <a class="langs__link" href="/">
                  EN
                </a>
              {%- endif -%}
          {%- endif -%}
        </span>
      </div>

    </div>
  {%- endif -%}

</header>