<div id="pop-form-button" class="pop-form-button">
    <a class="fa-layers fa-fw pop-form-button__link">
        <i class="fas fa-circle pop-form-button__circle"></i>
        <i title="Rhodes Island Greece Private Tours" class="far fa-envelope" data-fa-transform="shrink-8.5"></i>
    </a>
</div>

<div id="pop-form" class="pop-form">

    <header class="pop-form__header">
        <span class="pop-form__header-text">Leave a Message 2</span>
        <span id="pop-form__close">
            <i class="fas fa-times pop-form__close"></i>
        </span>
    </header>

    <div class="pop-form__body">
        <form id="contact-form" name="sendmail" class="pop-form__form" method="POST" action="sendmail-mobile-2.php">

            {%- if page.layout == 'home' -%}
                {%- assign from_page = 'Home Page' -%}
            {%- else -%}
                {%- assign from_page = page.id | replace: '_', ' ' -%}
                {%- if page.title -%}
                    {%- include helpers/check_empty_string.html the_string = page.title -%}
                    {%- if string_not_empty -%}
                        {%- assign from_page = page.title -%}
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}

            <input type="hidden" name="meli_dio" autocomplete="off">

            <input type="hidden" name="the_page" value="{{- page.id -}}">

            <input type="hidden" name="from_page" value="{{ from_page | upcase }}">

            <input type="hidden" name="page_url" value="{{ page.permalink }}">

            <input type="hidden" name="return_to" value="{{ page.url | remove: '/' }}">

            <div class="pop-form__group">
                <label class="pop-form__label" for="first_name">First and Last Name:</label>
                <input class="pop-form__input pop-form__input--text" type="text" name="first_name" required>
            </div>

            <div class="pop-form__group">
                <label class="pop-form__label" for="e_mail">Email:</label>
                <input class="pop-form__input pop-form__input--text" type="email" name="e_mail" required>
            </div>

            <div class="pop-form__group">
                <label class="pop-form__label" for="comments">Comments: Please include:<br>"Tour Start Location" and "Tour Date"</label>
                <textarea class="pop-form__input pop-form__input--textarea" name="comments" cols="30" rows="3"></textarea>
            </div>

            <label class="visuallyhidden">
                <input type="checkbox" name="meli_tria" tabindex="-1" autocomplete="off">
            </label>

            <div class="g-recaptcha" data-sitekey="6LeQ2dQUAAAAAG80PiWCNyNl7UXpxTt_U9D-zGc9"></div>
            <br/>

            <button type="submit" class="pop-form__submit" id="form__submit">
                Send
            </button>

        </form>
    </div>

</div>