.tripadvisor {

    &__gallery {

        .page__gallery-item {
            text-align: center;
        }

        .page__gallery-item-img {
            max-width: 116px;
        }

        .col-of-5 {
            @include breakpoint(small) {
                float: left;
                width: 20%;
                padding: 0 .5rem;
                &:nth-child(5n + 1) {
                    clear: left;
                }
            }
            img {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

}

.reviews-comments {

    .page__headings {
        color: $blue_alt;
    }
    
    .page__title,
    .page__subtitle {
        color: $blue_alt;
        text-shadow: none;
    }

    .page__content {
        color: $blue_alt;
    }

    &__years-list {
        text-align: center;
        &-item {
            display: inline-block;
            margin: 0 .5rem;
            line-height: 2;
        }
        &-link {
            font-size: 1.1rem;
            color: $darkgray;
            font-weight: bold;
        }
    }

    &__content {
        p {
            padding: .5rem;
            margin: .1rem 0;
        }
        p:nth-child(2n){
            background-color: $lightgray;
        }
    }

    &__go-to-top {
        margin-top: 0.8rem;
    }

    &__go-to-top-link {
        background-color: $darkblue;
        color: #fff;
        font-weight: normal;
        border-radius: 4px;
        text-decoration: none;
        white-space: nowrap;
        display: inline-block;
        padding: 8px 12px;
        transition: background-color .05s ease-in;
        &:hover {
            background-color: $red;
            color: #fff !important;
        }
    }

    .flickity-prev-next-button {
        width: 30px;
        height: 30px;
    }

    &__carousel {
        margin-bottom: 1rem;
    }

    &__carousel-item {
        img {
            width: 100%;
        }
        width: 100%;
        @include breakpoint(medium) {
            width: 50%;
            margin-right: 10px;
        }
        @include breakpoint(large) {
            width: 25%;
        }

    }

}

.tripadvisor {

    &__banner-img {
        display: inline-block;
        text-align: center;
        margin-right: .5rem;
        @include breakpoint(smaller) {
            margin-right: 2rem;
        }
        @include breakpoint(medium) {
            margin-right: 4rem;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    &__gallery {
        margin-top: 1.5rem;
        margin-bottom: -1.5rem;
        @include breakpoint(smaller) {
            margin-bottom: -1rem;
        }
        a {
            text-decoration: none;
        }
        .page__gallery-item {
            margin-bottom: 0 !important;
            @include breakpoint(smaller) {
                margin-bottom: 1rem !important;
            }
            @include breakpoint(smaller) {
                margin-bottom: 0 !important;
            }
        }
        .col-4-of-6,
        .col-5-of-6,
        .col-6-of-6 {
            margin-bottom: 0 !important;
        }
    }

}

.partner {

    background-color: #fff;
    border-top: 2px solid $lightgray;
    margin-top: 1rem;

    &__header {
        margin-top: 1rem;
    }

    &__title {
        padding-top: 0;
    }

    &__subtitle {
        font-size: 1.5rem;
    }

    &__content {
        p {
            font-size: 1.1rem;
            line-height: 1.6;
        }

        a[href^="mailto"] {
            font-weight: bold;
        }

        .soon {
            color: $red;
            font-weight: bold;
            text-align: center;
            padding-bottom: 3rem;
        }
    }

}

.more-partners {
    background-color: #fff;
    padding-bottom: 0;
}

.page--contact-us {
    .page__headings {
        color: $blue_alt;
        .page__title,
        .page__subtitle {
            color: $blue_alt;
            text-shadow: none;
        }
    }
}