.socials-wrapper {
    @include clearfix;
    padding: 0 .5rem;
    text-align: center;
    @include breakpoint(small) {
        padding: 0;
        text-align: right;
    }
    &__items {
        @include breakpoint(small) {
            display: inline-block;
            text-align: left;
        }
    }
}

.socials-text {
    text-transform: uppercase;
    margin-bottom: -.2rem;
    font-weight: bold;
    font-size: 1.5rem;
    color: $gray;
}

.koinonika {

    padding: .8rem 0 .3rem;

    &__eikonidio {
        background-color: $darkgray;
        border-radius: 100%;
        font-size: 1.2rem;
        padding: 4px;
        transition: background-color .2s ease-in-out;
        &::before {
            position: relative;
            bottom: 1px;
        }
        @include breakpoint(small) {
            font-size: 1.35rem;
        }
        @include breakpoint(large) {
            padding: 6px;
        }
    }

    // @include breakpoint(small) {
    //     display: inline-block;
    // }

    &__circle {
        color: $darkgray;
        transition: color .2s ease-in-out;
    }

    &__link {
        text-decoration: none;
        margin-right: 1rem;
        transition: background-color .2s ease-in-out;
        display: inline-block;
        background-color: #404040;
        padding: 8px 18px;
        border-radius: 100%;

        svg {
            fill: #fff;
        }

        @include breakpoint(large) {
            // font-size: 2.7rem;
            margin-right: 8px;
        }

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $gray;

        }

        &--fatsobiblio {
            height: 46px;
            svg {
                position: relative;
                top: 2px;
            }
            &:hover {
                background-color: #3b5999;
            }
        }
        &--titivisma {
            padding: 12px;
            &:hover {
                background-color: #55acee;
            }
        }
        &--sindesi_mesa {
            padding: 12px 14px;
            svg {
                position: relative;
                top: -1px;
            }
            &:hover {
                background-color: #0077B5;
            }
        }
        &--karfitsoste {
            padding: 9px 12px;
            position: relative;
            top: 3px;
            &:hover {
                background-color: #bd081c;
            }
        }

    }

}
