.contact-page {

    select {
        background-color: inherit;
    }

    &__content {
        color: $darkishblue;
        font-weight: 500;
        p {
            line-height: 1.8;
        }
        &.cols {
            padding-bottom: 1rem;
        }
    }

    .form__radio-group {
        &--block {
            display: block;
            width: auto;
        }
    }

}