<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- include navigation.html -%}

    <div id="msg" class="msg container"></div>

    {{ content }}

    {%- if page.lang == 'en' -%}
      {%- include footer.html -%}
    {%- elsif page.lang == 'es' -%}
      {%- include es/footer.html -%}
    {%- else -%}
      {%- include footer.html -%}
    {%- endif -%}

    {% unless page.has_form == true %}
      {% include pop-form.html %}
    {% endunless %}

    <a class="go-top" id="scrollBtn" href="#home">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include scripts.html %}

  </body>

</html>
