---
layout: bare
---

<main class="photo-tour partner">

    <header class="partner__header section container">
        <h1 class="photo-tour__title partner__title">
            {{- page.title -}}
        </h1>
        {%- assign subtitles_size = page.subtitles | size -%}
        {%- if subtitles_size > 0 -%}
            {%- for subtitle in page.subtitles -%}
                <h2 class="photo-tour__subtitle partner__subtitle">
                    {{- subtitle -}}
                </h2>
            {%- endfor -%}
        {%- endif -%}
    </header>

    {%- if page.content != '' -%}
        <section class="section container partner__content">
            {{ content }}
        </section>
    {%- endif -%}

    <footer class="section">
        {% include partials/other-partners.html %}
    </footer>
    
</main>
