<section id="cta-home" class="home-section cta-home">
    <div class="container">
        <p class="cta-home__item">
            {{- site.data.global.not-finding[page.lang].title -}}
        </p>
        <p class="cta-home__item">
            {{- site.data.global.not-finding[page.lang].subtitle -}}
        </p>
        <a href="{{- site.data.global.not-finding[page.lang].url -}}" class="cta-home__button">
            {{- site.data.global.not-finding[page.lang].contact_us_button_text -}}
        </a>
    </div>
</section>