<section id="recommendations-2" class="home-section recommendations recommendations--home recommendations--two">
    <div class="container recommendations__wrapper recommendations__wrapper--two">
        
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/trip-advisor-2024.png" alt="Rhodes Private Tours on TripAdvisor" style="width: 118px">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/trip-advisor-2020.png" alt="Rhodes Private Tours on TripAdvisor">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/rpt_hall_of_fame_2019.png" alt="Rhodes Private Tours on TripAdvisor">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/hall-of-fame-2018.png" alt="TripAdvisor Rhodes Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2017.JPG" alt="TripAdvisor Rhodes Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2016.JPG" alt="TripAdvisor Rhodes Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2015.JPG" alt="TripAdvisor Rhodes Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2014.JPG" alt="TripAdvisor Rhodes Greece">
            </a>
        </div>

    </div>
</section>