<section id="recommendations-1" class="home-section recommendations recommendations--one recommendations--home">
    <div class="container recommendations__wrapper">
        <div class="recommendations__item">
            <a class="recommendations__link" href="./rick_steves.htm">
                <img class="recommendations__img" src="./img/rick_steves/rick_steves_logo.png" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./luxury-travel-guide-awards.htm">
                <img class="recommendations__img" src="./img/luxury-travel-guide-awards/luxury-travel-guide-2019-small.jpg" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./more_than_thirty_years_experience.htm">
                <img class="recommendations__img" src="./img/thirty_years_experience_small.png" alt="Rhodes,island,Greece,private,tours,shore,excursions,taxi,travel,sightseeing,exclusive,luxury,limousine,independent,executive,customized,specialized,tailored,escorted,guided,disabled,accessible">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./testimonials.htm">
                <img class="recommendations__img" src="./img/trip_advisor/trip_advisor_comments_left_menu2.gif" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
            </a>
        </div>                
        <div class="recommendations__item">
            <a class="recommendations__link" href="./greece_travel_guide.htm">
                <img class="recommendations__img" src="./img/widget_icons/recommended_matt_barrett.gif" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
            </a>
        </div>
    </div>

</section> 