<section id="recommendations-2" class="home-section recommendations recommendations--home recommendations--two">
    <div class="container recommendations__wrapper recommendations__wrapper--two">
        
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/recommended-on-tripadvisor.png" alt="Rhodes private tours Greece. Rhodes Island private tours Greece, Best of Rhodes half day tour, Standard full day tour, East Coast day tour, Rhodes Jewish Tours, Rhodes Wine tours, Rhodes Kids Tours">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/hall-of-fame-2018.png" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2018.JPG" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2017.JPG" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2016.JPG" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2015.JPG" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./TripAdvisor.htm">
                <img class="recommendations__img" src="./img/trip_advisor/certificate_of_excellence_2014.JPG" alt="Rhodes Tours Greece on TripAdvisor, Rhodes Private Tours on TripAdvisor Greece">
            </a>
        </div>

    </div>
</section>