<section id="recommendations-1" class="home-section recommendations recommendations--one recommendations--home">
    <div class="container recommendations__wrapper">
        <div class="recommendations__item">
            <a class="recommendations__link" href="./rick_steves.htm">
                <img class="recommendations__img" src="./img/rick_steves/rick_steves_logo.png" alt="RICK STEVES EUROPE - RHODES">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./luxury-travel-guide-awards.htm">
                <img class="recommendations__img" src="./img/luxury-travel-guide-awards/luxury-travel-guide-2019-small.jpg" alt="Luxury Travel Guide Europe for Rhodes">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./more_than_thirty_years_experience.htm">
                <img class="recommendations__img" src="./img/thirty_years_experience_small.png" alt="Rhodes tours with experienced tour guides">
            </a>
        </div>
        <div class="recommendations__item">
            <a class="recommendations__link" href="./testimonials.htm">
                <img class="recommendations__img" src="./img/trip_advisor/trip_advisor_comments_left_menu2.gif" alt="Verified reviews and comments for Rhodes Private Tours">
            </a>
        </div>                
        <div class="recommendations__item">
            <a class="recommendations__link" href="./greece_travel_guide.htm">
                <img class="recommendations__img" src="./img/widget_icons/recommended_matt_barrett.gif" alt="Rhodes tours recommended by Matt Barrett Greece Travel Guide">
            </a>
        </div>
    </div>

</section> 